*{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.75);
}
h3{
    font-family: 'Big Shoulders Display', cursive;  
    color: hsl(0, 0%, 95%);
}
.container> .one{
    border-radius: 10px 10px 0 0;
    background-color:  hsl(31, 77%, 52%);
}
.container> .two{
    background-color: hsl(184, 100%, 22%);
}
.container> .three{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;

}
button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    padding: 10px;
    border-radius: 20px; 
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.one button{
    color: hsl(31, 77%, 52%);
}
.two button{
    color: hsl(184, 100%, 22%);
}
.three button{
    color: hsl(179, 100%, 13%);
}
.container .items img{
    padding-bottom: 25px;
}
.container .items h3{
    padding-bottom: 20px;
}
.container .items p{
    padding-bottom: 25px;
}
.container{
    padding: 20px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.container > *{
    padding: 30px;
    /* flex:1 1 100%; */
}
section
{
    background:hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background: transparent;
    color: hsla(0, 0%, 100%, 0.75);
}
@media(min-width:992px){
    .container{
        height: 100vh;
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .one{
        border-radius: 10px 0 0 10px;
    }
    .container .three{
        border-radius: 0 10px 10px 0;
    }
}